/* ------------------------------------------- */
/* --- Style Wrappera i Przycisków --- */
/* ------------------------------------------- */

.carousel-wrapper {
  position: relative;
  overflow-x: clip;
  padding-left: 16px;
  margin-bottom: 16px;
  margin-top: 0px;
}

.carousel-nav-mobile {
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 16px;
  box-sizing: border-box;
}

.carousel-nav-mobile button {
  background-color: #111010;
  border: 2px solid #111010;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 30px;
  font-family: "Unbounded";
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}

.carousel-nav-mobile button:hover {
  border: 2px solid white;
}

.carousel-btn.desktop {
  padding: 0px;
  margin: 0px;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #111010;
  border: 2px solid #111010;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-family: "Unbounded";
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}

.carousel-btn.desktop:hover {
  border: 2px solid white;
}

.carousel-btn.desktop.prev {
  left: 10px;
}
.carousel-btn.desktop.next {
  right: 10px;
}

/* ------------------------------------------- */
/* --- Kontener Karuzeli --- */
/* ------------------------------------------- */

.carousel-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding-right: 0;
  will-change: filter;
  transition: filter 300ms;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  background-color: #1a1a1a;
  height: 400px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #1a1a1a;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: border-color 0.25s;
}

.carousel-card:last-child {
  margin-right: 16px;
}

.carousel-card:hover {
  border: 2px solid white;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-content h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 2.5em;
}

.card-content img {
  max-width: 100%;
  max-height: 280px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.carousel-card:hover .card-content img {
  transform: scale(1.2);
}
/* ------------------------------------------- */
/* --- RESPONSIVE MEDIA QUERY --- */
/* ------------------------------------------- */

/* --- Tablet (768px and up) --- */
@media (min-width: 768px) {
  .carousel-nav-mobile {
    display: none;
  }

  .carousel-wrapper {
    padding-left: 32px;
  }

  .carousel-btn.desktop {
    display: block;
  }

  .carousel-card:last-child {
    margin-right: 32px;
  }
}

/* ------------------------------------------------ */
/* -------- Large Desktops (1024px) -------- */
/* ------------------------------------------------ */

@media (min-width: 1024px) {
  .carousel-nav-mobile {
    display: none;
  }
  .carousel-wrapper {
    padding-left: 62px;
  }

  .carousel-btn.desktop {
    display: block;
  }

  .carousel-card:last-child {
    margin-right: 62px;
  }
}

/* ------------------------------------------------ */
/* -------- Large Desktops (1200px and up) -------- */
/* ------------------------------------------------ */

@media (min-width: 1200px) {
  .carousel-nav-mobile {
    display: none;
  }
  .carousel-wrapper {
    padding-left: 104px;
  }

  .carousel-btn.desktop {
    display: block;
  }

  .carousel-card:last-child {
    margin-right: 104px;
  }
  .carousel-btn.desktop.prev {
    left: 120px;
  }
  .carousel-btn.desktop.next {
    right: 30px;
  }
}

/* ------------------------------------------------ */
/* -------- Large Desktops (1600px and up) -------- */
/* ------------------------------------------------ */
@media (min-width: 1600px) {
  .carousel-wrapper {
    padding-left: 200px;
  }

  .carousel-btn.desktop {
    display: block;
  }

  .carousel-card:last-child {
    margin-right: 200px;
  }
  .carousel-btn.desktop.prev {
    left: 220px;
  }
  .carousel-btn.desktop.next {
    right: 30px;
  }
}
/* --- Hover + Click --- */

.carousel-card {
  position: relative;
  overflow: hidden;
}

.ukryta-tresc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1abb;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  z-index: 10;
}

.ukryta-tresc p {
  color: white;
}

/* --- LOGIKA POKAZYWANIA --- */

/* 5.A. Pokazywanie przez React (dla Mobile onClick) */
/* Tę klasę dodaje React, gdy isFlipped=true */
.carousel-card.pokaz-tresc .ukryta-tresc {
  opacity: 1;
}
