
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.modal-backdrop {
    animation: fadeIn 0.25s ease-out forwards;
}

.modal-backdrop-down {
    animation: fadeOut 0.25s ease-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}
.modal-content {
    animation: slideUp 0.25s ease-out forwards;
}

.modal-content-down{
    animation: slideDown 0.25s ease-out forwards;
}