.wheel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px; 
}

.pointer {
    position: absolute;
    top: -20px; 
    width: 0;
    height: 0;
    z-index: 10;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid red;
}

.wheel {
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 5s cubic-bezier(0.2, 0.8, 0.5, 1);
}

.segment {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%; 
    background-color: var(--segment-color);
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 50px;
}

.segment:nth-child(1) { transform: rotate(0deg); }
.segment:nth-child(2) { transform: rotate(30deg); }
.segment:nth-child(3) { transform: rotate(60deg); }
.segment:nth-child(4) { transform: rotate(90deg); }
.segment:nth-child(5) { transform: rotate(120deg); }
.segment:nth-child(6) { transform: rotate(150deg); }
.segment:nth-child(7) { transform: rotate(180deg); }
.segment:nth-child(8) { transform: rotate(210deg); }
.segment:nth-child(9) { transform: rotate(240deg); }
.segment:nth-child(10) { transform: rotate(270deg); }
.segment:nth-child(11) { transform: rotate(300deg); }
.segment:nth-child(12) { transform: rotate(330deg); }