@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  font-family: "Unbounded";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  cursor: default;
}

p {
  font-size: 1.4em;
  line-height: 1.4;
  cursor: default;
  font-family: Space Grotesk;
  font-weight: 700;
  padding: 0px;
}

button {
  font-family: Unbounded;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 900;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 2px solid #1a1a1a;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  box-sizing: border-box; 
  font-size: 20px;
}

button:hover {
  border: 2px solid white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dropdown select {
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 900;
  font-family: Unbounded;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  font-size: 20px;
}

.dropdown select:hover {
  border: 2px solid white;
}
