@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* --- Ustawienia Główne --- */
:root {
  font-family: "Press Start 2P";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-weight: 500;
}



/* ------------------------------------------------ */
/* --- Style Domyślne (Mobile-First) --- */
/* ------------------------------------------------ */

body {
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* Kontener na treść (h1, p, itp.), która ma mieć marginesy */
.content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  color: darkslategray;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Wspólne style dla przycisków, dropdownów (bez kart karuzeli) */
button,
.dropdown select {
  width: 100%;
  max-width: 358px;
  box-sizing: border-box;
  font-size: 20px;
}

button:hover {
  border-color: darkslategray;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mainbtn-container button {
  margin-top: 25px;
  display: flex;
}

.icon {
  margin-left: 16px;
}

.hero-h1 {
  font-weight: 400;
}

.dropdown select {
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-family: "Press Start 2P";
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid transparent;
}

.dropdown select:hover {
  border-color: darkslategray;
}



/* ------------------------------------------------ */
/* --- Tablet (768px and up) --- */
/* ------------------------------------------------ */

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* ------------------------------------------------ */
/* --- Desktop (1024px and up) --- */
/* ------------------------------------------------ */

@media (min-width: 1024px) {
  .content-wrapper {
    padding-left: 62px;
    padding-right: 62px;
  }
}

/* ------------------------------------------------ */
/* -------- Large Desktops (1200px and up) -------- */
/* ------------------------------------------------ */

@media (min-width: 1200px) {
  .content-wrapper {
    padding-left: 104px;
    padding-right: 104px;
  }
}
