@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  font-family: "Unbounded";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(44, 44, 44, 0.527) 20%,
      rgba(12, 12, 12, 0.699) 100%
    ),
    url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  cursor: default;
}

p {

  line-height: 1;
  cursor: default;
  font-family: Space Grotesk;
  font-weight: 700;
  padding: 0px;
}

button {
  font-family: Unbounded;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 900;
  background-color: #111010;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

button:hover {
  border: 2px solid white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
