@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");


@import "tailwindcss";

:root {
  font-family: "Unbounded";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(255, 255, 255, 0.87);
  /* Zastąp #242424, 0.7 przez żądany kolor i krycie */
  background-image: linear-gradient(rgba(26, 25, 25, 0.925), rgba(36, 36, 36, 0.7)), 
                    url('./assets/background.png');
  /* Wartość 36, 36, 36 to RGB dla #242424. 0.7 to krycie. */

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh; 
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  cursor: default;
}

p {
  font-size: 1.6em;
  line-height: 1.4;
  cursor: default;
  font-family: Space Grotesk;
  font-weight: 700;
  padding: 0px;
}

button {
  font-family: Unbounded;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 900;
  background-color: #111010;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  box-sizing: border-box; 
  font-size: 20px;
}

button:hover {
  border: 2px solid white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




