@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-weight: 500;
}

:root {
  font-family: "Press Start 2P";
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3em;
  line-height: 1.1;
}
p {
  font-size: 1.5em;
  line-height: 1.4;
  color: darkslategray;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 358px;
}
button:hover {
  border-color: darkslategray;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-button {
  margin-top: 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.icon {
  margin-left: 16px;
}

.hero-h1 {
  font-weight: 400;
}

.carousel-card {
  background-color: #1a1a1a;
  width: 358px;
  height: 400px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

.carousel-card:hover{
  border-color: darkslategray;
}

.card-content {
  padding: 12px;
}

.card-content h2 {
  margin-top: 0px;
}

.dropdown select {
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 24px;
  font-family: "Press Start 2P";
  margin-bottom: 15px;
  width: 358px;
  cursor: pointer;
  border: 1px solid transparent;
}
