@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-weight: 500;
}

:root {
  font-family: "Press Start 2P";
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 16px;
}
h1 {
  font-size: 2em;
  line-height: 1.1;
}
p {
  font-size: 1.5em;
  line-height: 1.4;
  color: darkslategray;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 0.7em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.em;
}
button:hover {
  border-color: darkslategray;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: darkslategray;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.main-button{
  margin-top: 25px;
  gap: 10px;

}

.icon {
  margin-left: 16px;
}

.hero-h1{
  font-weight: 400;
}