.logo-pj {
  z-index: -1;
  margin-top: -60px;
  height: 20em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em darkslategray);
}

.logo {
  z-index: 1;
}
.logo-pj:hover {
  
}


