.logo-pj {
  margin-top: 20px;
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-pj:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-pj {
    animation: logo-spin infinite 5s linear;
  }
}
