name: Deploy to hetzner

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    stels:
      -name: SSH and Deploy
       uses: appleboy/ssh-action@master
       with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          scripts: |
            cd ~/project-juice-docer
            git pull
            docker-compose down
            docker-compose up -d --build
